<!DOCTYPE html>
<html>
<head>
	<title></title>


<style type="text/css">

#reg-form
{
	margin-left: 25px;
}

div.navbar-default
{
	text-align: center;

}

#firstname-err,#lastname-err,#mobno-err,#email-err,#pass1-err,#pass2-err-1,#pass2-err-2,#state-err,#success
{

	display: none;
}



</style>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
 
</head>
<body>
 
<div class="navbar navbar-default"><h1>Registration form</h1></div><!-- default navbar in Bootstrap -->

  <div id="reg-form">

  	<label>First Name:</label><br>
  	<input type="text" id="firstname"><label id="firstname-err">&nbsp; Please Type your first name </label><br><br>
    <label>Last Name:</label><br>
  	<input type="text" id="lastname"><label id="lastname-err">&nbsp;  Please Type your last name</label><br><br>
  	<label>Mobile No:</label><br>
  	<input type="text" id ="contactno"><label id="mobno-err">&nbsp;  Please type a 10 digit number </label><br><br>
  	<label>Email id:</label><br>
  	<input type="email" id ="email"><label id="email-err">&nbsp;  Please type proper email id</label><br><br>
 	<br><label>State :</label> 
 <div ng-app="myApp" ng-controller="myController">
<input type="text" ng-model="search" placeholder="Filter here and then select"></input><br>
 <select name="states" id="states" ng-model="selectedName" ng-options="state for state in states | filter:search">
 </select>
 <label id="state-err">&nbsp;  Please select state</label>
 </div>
<br><br>
 <label>Password:</label><br>
  	<input type="password" id ="passwd1"><label id="pass1-err">&nbsp; Minimum 6 characters</label><br><br>
 <label>Confirm Password:</label><br>
  	<input type="password" id="passwd2">
  	<label id="pass2-err-1">&nbsp; Minimum 6 characters</label>
	<label id="pass2-err-2">&nbsp; Characters do not match</label><br><br>
  	<button id="submit" class="btn btn-primary">Submit</button>
  	  	<button id="success" class="btn btn-success">Submitted Successfully</button>
   </div>


<script type="text/javascript" src="jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript">
	
	
	$('#submit').click(function()
	{  	$('#firstname-err').hide();
		$('#lastname-err').hide();
		$('#mobno-err').hide();
		$('#email-err').hide();
		$('#pass1-err').hide();
		$('#pass2-err-2').hide();
		$('#pass2-err-1').hide();
		$('#firstname').css("border-color","");
		$('#lastname').css("border-color","");
		$('#contactno').css("border-color","");
		$('#email').css("border-color","");
		$('#passwd1').css("border-color","");
		$('#passwd2').css("border-color","");

		var first=$('#firstname').val();
	     if(first=="")
	     	{
	     		$('#firstname').css("border-color","red");
                $('#firstname-err').show();

	 		};

	 	var last=$('#lastname').val();
	     if(last=="")
	     	{
	     		$('#lastname').css("border-color","red");
                $('#lastname-err').show();

	 		};
	 	var mob=$('#contactno').val();
	     if(isNaN(mob)||mob.length!=10)
	     	{
	     		$('#contactno').css("border-color","red");
                $('#mobno-err').show();

	 		};
	 	     var mail=$('#email').val();
	     
	     	 var atpos = mail.indexOf("@");
             var dotpos = mail.lastIndexOf(".");
           if (atpos<1 || dotpos<atpos+2 || dotpos+2>=mail.length) 
	     	{
	     		$('#email').css("border-color","red");
                $('#email-err').show();

	 		};

	 	var pass1=$('#passwd1').val();
	     if(pass1.length<6)
	     	{
	     		$('#passwd1').css("border-color","red");
                $('#pass1-err').show();

	 		};

	 	var pass2=$('#passwd2').val();
	     if(pass2.localeCompare(pass1)!=0||pass2.length<6)
	     	{
	     		$('#passwd2').css("border-color","red");
               if(pass2.length<6) 
               	{$('#pass2-err-1').show();}
               
               else {$('#pass2-err-2').show();}
               
	 		};
		 var state=$('#states').val();

	
var fcol=$('#firstname').css("border-color");
var lcol=$('#lastname').css("border-color");
var mobcol=$('#contactno').css("border-color");
var mailcol=$('#email').css("border-color");
var passcol1=$('#passwd1').css("border-color");
var passcol2=$('#passwd2').css("border-color");


if(fcol.length==15&&lcol.length==15&&mobcol.length==15&&(mailcol.length==15||mailcol.length==12)&&passcol1.length==15&&passcol2.length==15)
{

$('#success').show();
	
}

});


	var app=angular.module("myApp",[]);
	    app.controller("myController",function($scope)
	    {   
             $scope.states=['Andhra Pradesh',
 'Arunachal Pradesh',
  'Assam',
  'Bihar',
 'Chhattisgarh',
 'Goa',
  'Gujarat',
  'Haryana',
  'Himachal Pradesh',
 'Jammu & Kashmir',
  'Jharkhand', 'Karnataka',
'Kerala',
  'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland','Odisha',
 'Punjab',
 'Rajasthan',
'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttarakhand',
 'Uttar Pradesh',
 'West Bengal',
'Andaman & Nicobar',
  'Chandigarh',
 'Dadra and Nagar Haveli',
 'Daman & Diu',
  'Delhi',
  'Lakshadweep','Puducherry'];
});






</script>

</body>

</html>